label {
 
}
#R1, #R2, #R3 {
  display: none;
  
}
#outcome {
  display: ;
  font-style: italic;
}
.btn {
  display: block;
}
body {
  margin: 50px;
  padding: 50px;
  background-color: aqua;
  border: 100px black dotted;
}